@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #E5E5E5;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  display: inline-block;
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: url("../images/cursor-finger.svg") 2 2,
    pointer;
  z-index: 0;
  background-color: transparent;
  box-sizing: border-box;
}

.button-line-through {
  padding: 10px 10px;
  text-align: center;
}

.button-line-through::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.button-line-through:hover {
  background-color: #FFE17F;
}

.button-line-through:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.button-line-through:active {
  background-color: #FFCC33;
}

.button-line-through:disabled {
  opacity: 0.3;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*body*/

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.small-width-container {
  width: 1160px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

/*header*/

.index-header {
  margin-bottom: 64px;
}

.index-header-logo-link {
  display: block;
}

.index-header-logo {
  display: block;
  margin-top: 17px;
  margin-right: 500px;
  margin-bottom: 28px;
  margin-left: 59px;
  border: 2px solid transparent;
}

.index-header-logo:hover {
  opacity: 0.6;
}

.index-header-logo:focus {
  border: 2px solid #AF4FFF;
}

.index-header-logo:active {
  opacity: 0.3;
}

/*navigation*/

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.navigation::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 2px;
  width: 100%;
  height: 300px;
  background-color: #FFE17F;
  z-index: -1;
}

.navigation-search-form {
  display: flex;
  margin-right: 23px;
  margin-bottom: 28px;
  margin-left: 61px;
}

.navigation-search-form-input {
  width: 359px;
  height: 40px;
  padding: 8px 15px 8px 48px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  background-image: url("../images/nav-images/loop.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center left 16px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 50px 0 0 50px;
}

.navigation-search-form-input:focus {
  border: 5px dotted red;
}

.navigation-search-form-input:disabled {
  opacity: 0.3;
}

.navigation-search-form-button {
  width: 160px;
  padding: 8px 56px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
}

.navigation-search-form-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.navigation-search-form-button:focus {
  color: #FFFFFF;
  background-color: #000000;
}

.navigation-search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.navigation-search-form-button:disabled {
  opacity: 0.3;
}

.navigation-services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 51px 0 60px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}

.navigation-services-list-button {
  padding: 15px 74px 15px 0;
  background-image: url("../images/nav-images/plus.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center right 7px;
}

.navigation-services-item:first-of-type {
  margin-right: 265px;
}

.navigation-services-item:nth-of-type(2) {
  margin-right: 39px;
}

.navigation-services-item:nth-of-type(3) {
  margin-right: 45px;
}

.navigation-services-item:focus-within .navigation-services-sublist {
  display: block;
}

.navigation-services-sublist {
  display: none;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}

.navigation-services-sublist-link {
  color: #000000;
  text-decoration: none;
}

.navigation-services-sublist-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 497px;
  margin: 0;
  margin-top: 6px;
  margin-left: 1px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-link {
  padding-left: 27px;
  color: #000000;
  text-decoration: none;
  border: 2px solid transparent;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-item:nth-of-type(1) .navigation-user-link {
  margin-right: 142px;
  background-image: url("../images/nav-images/man.svg");
  background-size: 13px 12px;
  background-repeat: no-repeat;
  background-position: center left;
}

.navigation-user-item:nth-of-type(2) .navigation-user-link {
  padding-left: 22px;
  background-image: url("../images/nav-images/graph.svg");
  background-size: 10px 12px;
  background-repeat: no-repeat;
  background-position: center left;
}

.navigation-user-item:nth-of-type(3) .navigation-user-link {
  padding-left: 24px;
  background-image: url("../images/nav-images/basket.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: top 2px left -2px;
}

.navigation-services-button:hover {
  opacity: 0.6;
}

.navigation-services-button:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.navigation-services-button:active {
  opacity: 0.3;
}

.navigation-services-button-current {
  position: relative;
}

.navigation-services-button-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.navigation-services-button-current:hover {
  opacity: 0.6;
  border-bottom: 2px solid #000000;
}

.navigation-services-button-current:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.navigation-services-button-current:active {
  opacity: 0.3;
}

/*product-slider*/

.product-slider {
  position: relative;
  margin-bottom: 64px;
}

.product-slider-item {
  display: flex;
}

.product-slider-item-text-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-slider-image {
  display: block;
  margin-top: -82px;
  margin-right: 40px;
  margin-left: 1px;
}

.product-slider-number {
  display: flex;
  justify-content: end;
  margin: 0;
  margin-right: 46px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 180px;
  color: #FFFFFF;
}

.product-slider-slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.product-slider-text {
  margin: 0;
  margin-bottom: 48px;
}

.product-slider-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  margin-left: 2px;
}

.product-slider-info-button {
  width: 220px;
}

.product-slider-feature-lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.product-slider-feature-list {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.product-slider-item:first-of-type .product-slider-feature-list:not(:last-child) {
  margin-right: 21px;
}

.product-slider-item:last-of-type .product-slider-feature-list:not(:last-child) {
  margin-right: 40px;
}

.product-slider-feature-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  color: #000000;
}

.product-slider-feature {
  font-size: 16px;
  color: #444444;
}

.product-slider-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 7px 0;
  padding: 0;
  list-style-type: none;
}

/* .product-slider-pagination-item:nth-child(2) {
  padding-right: 12px;
} */

.product-slider-pagination-button {
  border: none;
}

/*main-product*/

.main-product {
  margin-bottom: 70px;
}

.main-product-title-link {
  color: #000000;
  text-decoration: none;
}

.main-product-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.main-product-image-link {
  display: block;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main-product/product-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-product-item:nth-of-type(2) .main-product-image-link {
  background-image: url("../images/main-product/product-2.svg");
  background-position: bottom;
}

.main-product-item:nth-of-type(3) .main-product-image-link {
  background-image: url("../images/main-product/product-3.svg");
}

.main-product-item:nth-of-type(4) .main-product-image-link {
  background-image: url("../images/main-product/product-4.svg");
}

.main-product-item:nth-of-type(5) .main-product-image-link {
  background-image: url("../images/main-product/product-5.svg");
}

.main-product-item:nth-of-type(6) .main-product-image-link {
  background-image: url("../images/main-product/product-6.svg");
}

/*main-services*/

.main-services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 132px;
  z-index: 0;
}

.main-services::before {
  content: "";
  position: absolute;
  top: 45px;
  left: -140px;
  width: 1440px;
  height: 289px;
  background-color: #F0F0F0;
  z-index: -1;
}

.main-services-slider-pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 57px 123px 73px 1px;
  list-style-type: none;
}

.main-services-slider-pagination::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  left: 281px;
  bottom: 10px;
  background-color: #000000;
}

.main-services-slider-pagination-item:not(:last-child) {
  margin-bottom: 35px;
}

.main-services-slider-button {
  width: 160px;
  padding: 8px;
}

.current-main-services-slider-button {
  padding: 8px 13px;
  color: #FFE17F;
  text-align: left;
  width: 280px;
  background-color: #000000;
}

.main-services-slider-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 68px;
  width: 452px;
}

.main-services-slider-item:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 3px;
  left: 558px;
  background-image: url("../images/main-services/delivery.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
}

.main-services-slider-item:nth-of-type(2) {
  background-image: url("../images/main-services/warranty.svg");
  background-size: 171px 195px;
  background-repeat: no-repeat;
  background-position: center right;
}

.main-services-slider-item:nth-of-type(3) {
  background-image: url("../images/main-services/credit.svg");
  background-size: 156px 188px;
  background-repeat: no-repeat;
  background-position: center right;
}

.main-services-title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.main-services-text {
  margin: 0;
}


/*order*/

.order {
  margin-bottom: 75px;
  background-color: #F0F0F0;
}

.order-title {
  position: relative;
  margin: 0;
  padding: 39px 125px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  z-index: 0;
}

.order-title::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 101px;
  left: 0;
  bottom: 0;
  background-color: #FFE17F;
  background-image: url("../images/main-images/truck.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47px 31px;
  z-index: 1;
}

/*index-columns*/

.index-columns {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 99px;
}

/*about-us*/

.about-us-title {
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-text {
  margin-bottom: 30px;
  padding-right: 23px;
}

.about-us-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-us-item {
  padding-left: 38px;
  background-image: url("../images/main-images/about-us-list-image.svg");
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center left;
  list-style-type: none;
}

.about-us-item:not(:last-child) {
  margin-bottom: 19px;
}

/*main-contacts*/

.main-contacts-title {
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.main-contacts-text {
  margin-bottom: 30px;
  padding-right: 30px;
}

.main-contacts-subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.main-contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.main-contacts-address-text {
  margin: 0;
}

.main-contacts-phone {
  color: #444444;
}

.main-contacts-work-time-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.main-contacts-work-time-text {
  margin: 0;
}

/*subscribe-section*/

.subscribe-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0 140px;
  background-color: #F0F0F0;
}

.subscribe-title {
  margin-top: 64px;
  margin-right: 252px;
  margin-bottom: 144px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-text {
  margin-top: 74px;
  margin-bottom: 144px;
}

.subscribe-form {
  display: flex;
  margin-right: auto;
  margin-bottom: 56px;
}

.subscribe-input {
  padding: 11px 447px 14px 17px;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-button {
  padding: 18px 39px;
  border: 3px solid #C4C4C4;
}

.subscribe-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe-button:focus {
  outline: 2px solid #AF4FFF;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe-information {
  margin: 0;
  padding-left: 30px;
  background-image: url("../images/main-images/tick.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: left top 9px;
}

/*footer*/

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 140px;
  background-color: #444444;
}

.footer-contacts {
  position: relative;
  margin-top: 62px;
  margin-right: 10px;
}

.footer-contacts::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
  border: 2px solid transparent;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus {
  border: 2px solid #AF4FFF;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-address {
  margin-bottom: 148px;
  width: 239px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}

.footer-phone {
  margin-bottom: 63px;
}

.footer-phone-link {
  font-style: normal;
  color: #FFFFFF;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.footer-phone-link:hover {
  color: #FFC700;
  text-decoration: underline #FFC700;
}

.footer-phone-link:focus {
  text-decoration: none;
  border: 2px solid #AF4FFF;
  outline: none;
}

.footer-phone-link:active {
  color: rgba(255, 199, 0, 0.3);
  text-decoration: underline rgba(255, 199, 0, 0.3);
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-container:first-of-type {
  margin: 137px 183px 61px 0;
}

.footer-container:last-of-type {
  margin: 140px 0 65px;
}

.footer-services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-services-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-services-button:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-services-button:focus {
  border: 2px solid #AF4FFF;
}

.footer-services-button:active {
  color: rgba(255, 199, 0, 0.3);
  border-bottom: 2px solid rgba(255, 199, 0, 0.3);
}

.footer-services-item {
  margin-bottom: 35px;
  margin-right: 35px;
}

.footer-services-item:last-child {
  margin-right: 0;
}

.footer-social {
  width: 444px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.footer-social-item-link {
  display: block;
  width: 40px;
  height: 40px;
}

.footer-social-item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:hover {
  background-color: #FFC700;
}

.footer-social-item:focus {
  background-color: #FFC700;
}

.footer-social-item:active {
  background-color: #FFC700;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item:nth-child(1) .footer-social-item-link {
  background-image: url("../images/footer-images/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 12px;
}

.footer-social-item:nth-child(2) .footer-social-item-link {
  background-image: url("../images/footer-images/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 11px;
}

.footer-social-item:nth-child(3) .footer-social-item-link {
  background-image: url("../images/footer-images/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 14px;
}

.footer-social-item .footer-social-item-link:active {
  opacity: 0.3;
}
