@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #E5E5E5;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  display: inline-block;
  position: relative;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  cursor: url("../images/cursor-finger.svg") 2 2,
    pointer;
  background-color: transparent;
  box-sizing: border-box;
}

.button-line-through {
  padding: 10px 10px;
  text-align: center;
  background-image: linear-gradient(to bottom, transparent 40%, #FFE17F 40%, #FFE17F 60%, transparent 60%, transparent 100%);
}

.button-line-through:hover {
  background-color: #FFE17F;
}

.button-line-through:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.button-line-through:active {
  background-color: #FFCC33;
  background-image: none;
}

.button-line-through:disabled {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*body*/

.body-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.small-width-container {
  width: 1160px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

/*header*/

.index-header {
  margin-top: 40px;
  padding-bottom: 131px;
  background-color: #FFE17F;
}

.index-header-logo-link {
  display: block;
  width: 145px;
  height: 36px;
  margin-top: -21px;
  margin-right: 500px;
  margin-bottom: 30px;
  margin-left: 59px;
  cursor: pointer;
}

.index-header-logo {
  display: block;
  width: 145px;
  height: 36px;
}

.index-header-logo-link:hover {
  opacity: 0.6;
}

.index-header-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.index-header-logo-link:active {
  opacity: 0.3;
}

/*navigation*/

.navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.navigation-search-form {
  display: flex;
  margin-right: 25px;
  margin-bottom: 28px;
  margin-left: 59px;
}

.navigation-search-form-input {
  width: 359px;
  height: 40px;
  padding: 8px 15px 8px 48px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  background-image: url("../images/nav-images/loop.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center left 16px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
  border-radius: 50px 0 0 50px;
}

.navigation-search-container:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-search-form-input:disabled {
  opacity: 0.3;
}

.navigation-search-form-button {
  width: 160px;
  padding: 8px 56px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
}

.navigation-search-form-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.navigation-search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.navigation-search-form-button:disabled {
  opacity: 0.3;
}

.navigation-container {
  display: flex;
  position: relative;
  margin-left: 58px;
}

.navigation-goods-sublist-container:focus-within > .navigation-goods-container {
  display: flex;
}

.navigation-goods-sublist-button {
  position: relative;
  width: 297px;
  padding: 15px 0;
}

.navigation-goods-sublist-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("../images/nav-images/plus.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

.navigation-goods-sublist-button:hover::after {
  opacity: 1;
}

.navigation-goods-sublist-button:active::after,
.navigation-goods-sublist-button:focus::after {
  background-image: url("../images/nav-images/minus.svg");
}

.navigation-goods-sublist-container:focus-within > .navigation-goods-sublist-button::after {
  background-image: url("../images/nav-images/minus.svg");
}

.navigation-goods-sublist-button:focus {
  outline: 3px solid #af4fff;
}

.navigation-goods-sublist-button:focus + .navigation-goods-container,
.navigation-goods-sublist-button:active + .navigation-goods-container {
  display: flex;
}

.navigation-goods-sublist-container {
  margin-right: 272px;
}

.navigation-goods-container {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1160px;
  left: -58px;
  top: 64px;
  min-height: 150px;
  padding: 0 60px 33px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffe17f;
  z-index: 5;
}

.navigation-goods-container-close {
  display: none;
}

.navigation-goods-sublist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
}

.navigation-goods-sublist-item + .navigation-goods-sublist-item {
  margin-top: 18px;
}

.navigation-goods-sublist:first-of-type {
  margin-right: 59px;
}

.navigation-goods-sublist:nth-of-type(2) {
  margin-right: 71px;
}

.navigation-goods-sublist-link {
  color: #000000;
  text-decoration: none;
}

.navigation-goods-sublist-link:hover {
  opacity: 0.6;
}

.navigation-goods-sublist-link:active {
  opacity: 0.3;
}

.navigation-goods-sublist-link:focus {
  outline: 2px solid #af4fff;
}

.navigation-goods-sublist-link:focus-visible {
  outline: 2px solid #af4fff;
}

.navigation-services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 16px;
  margin-right: 45px;
  padding: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}

.navigation-services-item:first-of-type {
  margin-right: 40px;
}

.navigation-services-item:nth-of-type(2) {
  margin-right: 44px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 497px;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item:first-of-type {
  margin-right: 18px;
}

.navigation-user-item:last-of-type {
  position: relative;
}

.navigation-user-link {
  padding-left: 27px;
  color: #000000;
  text-decoration: none;
  border: 2px solid transparent;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-item:nth-of-type(1) .navigation-user-link {
  margin-right: 142px;
  background-image: url("../images/nav-images/man.svg");
  background-size: 13px 12px;
  background-repeat: no-repeat;
  background-position: center left;
}

.navigation-user-item:nth-of-type(2) .navigation-user-link {
  padding-left: 22px;
  background-image: url("../images/nav-images/graph.svg");
  background-size: 10px 12px;
  background-repeat: no-repeat;
  background-position: center left;
}

.navigation-user-item:nth-of-type(3) .navigation-user-link {
  position: relative;
  padding-left: 45px;
  background-image: url("../images/nav-images/basket.svg");
  background-size: 16px 14px;
  background-repeat: no-repeat;
  background-position: top 2px right 83px;
}

.navigation-user-item:nth-of-type(3) .navigation-user-link::after {
  content: "2";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 21px;
  right: 94px;
  top: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.navigation-services-button:hover {
  opacity: 0.6;
}

.navigation-services-button:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.navigation-services-button:active {
  opacity: 0.3;
}

.navigation-services-button-current {
  position: relative;
}

.navigation-services-button-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.navigation-services-button-current:hover {
  opacity: 0.6;
  border-bottom: 2px solid #000000;
}

.navigation-services-button-current:focus {
  border: 2px solid #AF4FFF;
  outline: none;
}

.navigation-services-button-current:active {
  opacity: 0.3;
}

/*product-slider*/

.product-slider {
  position: relative;
  margin-top: -67px;
  margin-bottom: 70px;
}

.product-slider-item {
  display: none;
}

.product-slider-item + .product-slider-item {
  margin-top: 362px;
}

.product-slider-item-current {
  display: flex;
}

.product-slider-item-text-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
}

.product-slider-image {
  display: block;
  margin-top: -82px;
}

.product-slider-number {
  margin: 0;
  margin-right: 49px;
  margin-bottom: 10px;
  margin-left: 300px;
  font-size: 180px;
  font-weight: 700;
  color: #FFFFFF;
}

.product-slider-slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.product-slider-text {
  margin: 0;
  margin-bottom: 48px;
}

.product-slider-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  margin-left: 2px;
}

.product-slider-info-button {
  width: 220px;
}

.product-slider-feature-lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.product-slider-feature-list {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.product-slider-item:first-of-type .product-slider-feature-list:not(:last-child) {
  margin-right: 21px;
}

.product-slider-item:last-of-type .product-slider-feature-list:not(:last-child) {
  margin-right: 40px;
}

.product-slider-feature-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  color: #000000;
}

.product-slider-feature {
  font-size: 16px;
  color: #444444;
}

.product-slider-container {
  position: relative;
  margin-right: 40px;
}

.product-slider-button-container {
  position: absolute;
  top: 129px;
  left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 530px;
}

.product-slider-button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/slider-images/arrow.svg");
  background-repeat: no-repeat;
}

.product-slider-button:hover {
  opacity: 0.6;
}

.product-slider-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 1px;
}

.product-slider-button:active {
  opacity: 0.3;
}

.product-slider-button:disabled {
  opacity: 0.1;
}

.product-slider-prev-button {
  transform: rotate(180deg);
}

.product-slider-pagination {
  position: relative;
  bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 7px 0;
  padding: 0;
  list-style-type: none;
}

.product-slider-pagination-item {
  height: 12px;
  margin: 0;
}

.product-slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.product-slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.product-slider-pagination-button:hover {
  opacity: 0.6;
}

.product-slider-pagination-button:focus::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 2px solid #af4fff;
  outline-offset: 3px;
}

.product-slider-pagination-button:active {
  opacity: 0.3;
}

.product-slider-pagination-current-button {
  background-color: #000000;
}

/*main-product*/

.main-product {
  margin-bottom: 70px;
}

.main-product-link {
  text-decoration: none;
}

.main-product-title {
  color: #000000;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.main-product-image {
  display: block;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  background-image: url("../images/main-product/product-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-product-item:hover .main-product-image {
  background-color: #FFC700;
}

.main-product-item:focus-within {
  outline: 2px solid #AF4FFF;
}

.main-product-item:active {
  opacity: 0.3;
}

.main-product-link:focus-visible,
.main-product-image:focus-visible,
.main-product-title:focus-visible {
  outline: none;
}

.main-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-product-item:nth-of-type(2) .main-product-image {
  background-image: url("../images/main-product/product-2.svg");
  background-position: bottom;
}

.main-product-item:nth-of-type(3) .main-product-image {
  background-image: url("../images/main-product/product-3.svg");
}

.main-product-item:nth-of-type(4) .main-product-image {
  background-image: url("../images/main-product/product-4.svg");
}

.main-product-item:nth-of-type(5) .main-product-image {
  background-image: url("../images/main-product/product-5.svg");
}

.main-product-item:nth-of-type(6) .main-product-image {
  background-image: url("../images/main-product/product-6.svg");
}

/*main-services*/

.main-services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 132px;
  z-index: 0;
}

.main-services::before {
  content: "";
  position: absolute;
  top: 96px;
  left: -140px;
  width: 1440px;
  height: 289px;
  background-color: #F0F0F0;
  z-index: -1;
}

.main-services-slider-pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 57px 123px 73px 1px;
  list-style-type: none;
}

.main-services-slider-pagination::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  left: 281px;
  bottom: 10px;
  background-color: #000000;
  z-index: -1;
}

.main-services-slider-pagination-item:not(:last-child) {
  margin-bottom: 35px;
}

.main-services-slider-button {
  width: 160px;
  padding: 8px;
}

.current-main-services-slider-button {
  padding: 8px 13px;
  color: #FFE17F;
  text-align: left;
  width: 280px;
  background-color: #000000;
}

.current-main-services-slider-button:hover {
  color: rgba(255, 225, 127, 0.5);
}

.current-main-services-slider-button:focus {
  outline: 2px solid #AF4FFF;
  z-index: 0;
  /*здесь z-index для того, чтобы рамка была выше черного разделителя*/
}

.current-main-services-slider-button:active {
  color: rgba(255, 225, 127, 0.3);
}

.main-services-slider-item {
  position: relative;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 68px;
  width: 452px;
}

.main-services-slider-item-current {
  display: flex;
}

.main-services-slider-item:nth-of-type(2),
.main-services-slider-item:nth-of-type(3) {
  width: 475px;
}

.main-services-slider-item:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  top: 3px;
  left: 558px;
  background-image: url("../images/main-services/delivery.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
}

.main-services-slider-item:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 171px;
  height: 195px;
  top: 3px;
  left: 558px;
  background-image: url("../images/main-services/warranty.svg");
  background-size: 171px 195px;
  background-repeat: no-repeat;
  background-position: center right;
}

.main-services-slider-item:nth-of-type(3)::after {
  content: "";
  position: absolute;
  width: 156px;
  height: 188px;
  top: 3px;
  left: 558px;
  background-image: url("../images/main-services/credit.svg");
  background-size: 156px 188px;
  background-repeat: no-repeat;
  background-position: center right;
}

.main-services-title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.main-services-text {
  margin: 0;
}

/*order*/

.order {
  margin-bottom: 117px;
  background-color: #F0F0F0;
}

.order-link {
  position: relative;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.order-link::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 101px;
  left: 0;
  bottom: 0;
  background-color: #FFE17F;
  background-image: url("../images/main-images/truck.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 47px 31px;
}

.order-link:hover::before {
  background-color: #FFC700;
}

.order-link:hover .order-tooltip {
  opacity: 1;
}

.order-link:hover::before {
  background-color: #FFC700;
}

.order-link:focus {
  outline: 2px solid #AF4FFF;
}

.order-link:active {
  opacity: 0.3;
}

.order-text {
  margin: 0;
  padding: 41px 235px 37px 321px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.order-tooltip {
  margin-top: 31px;
  padding: 0;
  opacity: 0.5;
}

/*index-columns*/

.index-columns {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 96px;
}

/*about-us*/

.about-us {
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  left: 0;
  top: -48px;
  background-color: #000000;
}

.about-us-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-us-text {
  margin-bottom: 30px;
  padding-right: 25px;
}

.about-us-list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.02em;
}

.about-us-item {
  padding-left: 38px;
  background-image: url("../images/main-images/about-us-list-image.svg");
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center left 3px;
  list-style-type: none;
}

.about-us-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-us-button {
  width: 270px
}

/*main-contacts*/

.main-contacts {
  position: relative;
}

.main-contacts::before {
  content: "";
  position: absolute;
  width: 84px;
  height: 7px;
  left: 0;
  top: -48px;
  background-color: #000000;
}

.main-contacts-title {
  margin-top: 0;
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.main-contacts-text {
  margin-bottom: 30px;
  padding-right: 30px;
}

.main-contacts-subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.main-contacts-address {
  margin-bottom: 30px;
  font-style: normal;
}

.main-contacts-address-text {
  margin: 0;
}

.main-contacts-phone {
  color: #444444;
}

.main-contacts-phone:hover {
  color: #FFC700;
  text-decoration: underline #FFC700;
}

.main-contacts-phone:focus {
  text-decoration: none;
  outline: 2px solid #AF4FFF;
}

.main-contacts-phone:active {
  color: rgba(255, 199, 0, 0.3);
  text-decoration: underline rgba(255, 199, 0, 0.3);
}

.main-contacts-work-time-list {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style-type: none;
}

.main-contacts-work-time-text {
  margin: 0;
}

.main-contacts-button {
  width: 259px;
}

/*subscribe-section*/

.subscribe-section {
  padding: 53px 140px 56px 140px;
  background-color: #F0F0F0;
}

.subscribe-section-container {
  display: flex;
}

.subscribe-section-container:nth-of-type(1) {
  padding-left: 7px;
  padding-bottom: 126px;
}

.subscribe-title {
  margin: 0;
  padding-top: 10px;
  padding-right: 252px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-form {
  display: flex;
  margin-right: auto;
}

.subscribe-input {
  width: 525px;
  padding: 13px 17px 14px 17px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
  background-color: transparent;
  border: none;
}

.subscribe-input:not(:placeholder-shown) {
  color: #444444;
}

.subscribe-input:focus {
  background-color: #FFFFFF;
  outline: none;
}

.input-border {
  position: relative;
}

.input-border::after {
  content: "";
  position: absolute;
  top: 54px;
  left: 2px;
  width: 557px;
  height: 3px;
  background-color: #C4C4C4;
}

.subscribe-button {
  width: 253px;
  padding: 12px 29px 13px 33px;
  border: 3px solid #C4C4C4;
}

.subscribe-button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe-button:focus {
  outline: 2px solid #AF4FFF;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: 3px solid #000000;
}

.subscribe-button:disabled {
  opacity: 0.3;
}

.subscribe-information {
  margin: 0;
  margin-top: 13px;
  padding-left: 32px;
  background-image: url("../images/main-images/tick.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: left top 9px;
}

/*footer*/

.page-footer {
  padding: 0 138px 0 140px;
  background-color: #444444;
}

.footer-container {
  display: grid;
  grid-template-columns: 239px 1fr 178px;
  padding-bottom: 46px;
}

/*левая часть футера*/

.footer-logo {
  display: block;
}

.footer-logo-link {
  display: block;
  width: 145px;
  height: 36px;
  margin-top: 62px;
  margin-bottom: 35px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-contacts {
  grid-row: 1/2;
  grid-column: 1/2;
  position: relative;
}

.footer-contacts::after {
  content: "";
  position: absolute;
  bottom: -71px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
}

/*централья часть футера*/

.footer-services {
  grid-row: 1/2;
  grid-column: 2/3;
  padding-left: 118px;
}

.footer-services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-services-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-services-button:hover {
  color: #FFC700;
  border-bottom: 2px solid #FFC700;
}

.footer-services-button:focus {
  outline: 2px solid #AF4FFF;
}

.footer-services-button:active {
  color: rgba(255, 199, 0, 0.3);
  border-bottom: 2px solid rgba(255, 199, 0, 0.3);
}

.footer-services-item:not(:last-child) {
  margin-right: 27px;
}

.footer-social {
  grid-row: 2/3;
  grid-column: 2/3;
  padding-top: 47px;
  padding-right: 62px;
}

.footer-social-list {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item-link {
  display: block;
  width: 40px;
  height: 40px;
}

.footer-social-item-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-social-item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-item:hover {
  background-color: #FFC700;
}

.footer-social-item:active {
  background-color: #FFC700;
}

.footer-social-item .footer-social-item-link:active {
  opacity: 0.3;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item:nth-child(1) .footer-social-item-link {
  background-image: url("../images/footer-images/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 12px;
}

.footer-social-item:nth-child(2) .footer-social-item-link {
  background-image: url("../images/footer-images/youtube.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 11px;
}

.footer-social-item:nth-child(3) .footer-social-item-link {
  background-image: url("../images/footer-images/twitter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px 14px;
}

/*правая часть футера*/

.footer-phone {
  grid-row: 1/2;
  grid-column: 3/4;
}

.footer-phone-link {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  color: #FFFFFF;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.footer-phone-link:hover {
  color: #FFC700;
  text-decoration: underline #FFC700;
}

.footer-phone-link:focus {
  text-decoration: none;
  border: 2px solid #AF4FFF;
  outline: none;
}

.footer-phone-link:active {
  color: rgba(255, 199, 0, 0.3);
  text-decoration: underline rgba(255, 199, 0, 0.3);
}

.footer-academy {
  grid-row: 2/3;
  grid-column: 3/4;
  padding-top: 50px;
  padding-left: 61px;
}

.footer-academy-link:focus {
  outline: 1px solid #AF4FFF;
}

.footer-academy-image:hover {
  fill: #FFFFFF;
}

.footer-academy-image:active {
  fill: rgba(255, 255, 255, 0.3);
}

/*popover*/

.popover {
  display: none;
  position: absolute;
  top: 34px;
  right: -78px;
  z-index: 1;
  width: 320px;
  min-height: 134px;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  box-sizing: border-box;
}

.popover::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 153px;
  width: 14px;
  height: 6px;
  background-image: url("../images/popover-images/popover-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-user-link-popover:focus-within + .popover {
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-list {
  margin: 0;
  padding: 0;
}

.popover-list-item {
  position: relative;
  display: flex;
  padding: 0 20px;
}

.popover-list-item + .popover-list-item {
  border-top: 1px solid #1A1A1A;
}

.popover-link {
  display: flex;
  align-items: center;
  margin-right: 46px;
  padding-top: 15px;
  padding-bottom: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:focus {
  outline: 2px solid #AF4FFF;
}

.popover-link:active {
  opacity: 0.3;
}

.popover-image {
  margin-right: 23px;
}

.popover-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.popover-delete-button {
  position: relative;
  display: flex;
  align-items: center;
  top: 15px;
  right: 0;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.popover-delete-button:hover {
  opacity: 0.6;
}

.popover-delete-button:focus {
  outline: 2px solid #AF4FFF;
}

.popover-delete-button:active {
  opacity: 0.3;
}

.popover-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px 0 20px;
  background-color: #1A1A1A;
}

.popover-container-text {
  margin: 0;
  padding: 13px 0 11px 0;
}

.popover-button {
  width: 280px;
  margin: 20px;
  padding: 13px 21px;
  background-color: #FFFFFF;
}

.popover-button:hover {
  background-color: #FFE17F;
}

.popover-button:focus {
  opacity: 0.3;
  outline: 2px solid #AF4FFF;
}

.popover-button:active {
  outline: none;
  opacity: 0.3;
}

.popover-button:disabled {
  opacity: 0.3;
}

/*modal*/

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.order-modal-window {
  position: relative;
  width: 920px;
  margin: auto;
  padding: 0 61px 0 71px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-window-close {
  display: none;
}

.order-modal-window-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/modal-window/modal-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.order-modal-window-close-button:hover {
  opacity: 0.6;
}

.order-modal-window-close-button:focus {
  outline: 2px solid #AF4FFF;
}

.order-modal-window-close-button:active {
  opacity: 0.3;
}

.order-modal-window-title {
  margin: 62px 0 42px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.order-modal-window-form {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 62px;
}

.order-field-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 360px;
  box-sizing: border-box;
}

.order-field-group:nth-child(1) {
  margin-right: 40px;
}

.order-field-group:nth-child(3) {
  width: 540px;
  margin-right: 40px;
  margin-bottom: 37px;
}

.order-field-group:nth-child(4) {
  width: 180px;
}

.order-modal-window-label {
  margin-bottom: 14px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.order-modal-window-input {
  padding: 18px 50px 18px 18px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #F0F0F0;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.order-modal-window-input:placeholder-shown {
  color: rgba(0, 0, 0, 0.3);
}

.order-modal-window-input:hover {
  background-color: #DCDCDC;
}

.order-modal-window-input:focus {
  outline: 2px solid #AF4FFF;
}

.order-modal-window-input-error {
  border: 2px solid #FF3D3D;
}

.order-field-group:nth-of-type(1) .order-modal-window-input {
  background-image: url("../images/modal-window/man.svg");
  background-position: center right 18px;
  background-repeat: no-repeat;
}

.order-field-group:nth-of-type(2) .order-modal-window-input {
  background-image: url("../images/modal-window/letter.svg");
  background-position: center right 20px;
  background-repeat: no-repeat;
}

.order-modal-window-warning-text {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FF3D3D;
}

.order-field-group-quantity {
  position: relative;
  margin-top: 14px;
}

.order-modal-window-input.order-modal-window-input-quantity {
  width: 180px;
  padding: 20px 75px 20px 87px;
  border: none;
  box-sizing: border-box;
}

.order-modal-window-input-quantity::-webkit-outer-spin-button,
.order-modal-window-input-quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.order-modal-window-input-quantity-button {
  position: absolute;
  top: 21px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.order-modal-window-minus-button {
  left: 21px;
}

.order-modal-window-plus-button {
  right: 23px;
}

.order-modal-window-input-quantity-button:hover {
  opacity: 0.6;
}

.order-modal-window-input-quantity-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: 3px;
}

.order-modal-window-input-quantity-button:active {
  opacity: 0.3;
  outline: none;
}

.order-modal-window-button {
  width: 200px;
}

/*tooltip*/

.order-modal-window-tooltip {
  position: relative;
  width: 26px;
  height: 26px;
}

.order-modal-window-tooltip-toggle {
  position: absolute;
  top: -3px;
  right: -34px;
  width: 26px;
  height: 26px;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.order-modal-window-tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.order-modal-window-tooltip-toggle:hover .order-modal-window-tooltip-icon {
  opacity: 0.6;
}

.order-modal-window-tooltip-toggle:focus .order-modal-window-tooltip-icon {
  outline: 2px solid #AF4FFF;
  outline-offset: 3px;
}

.order-modal-window-tooltip-toggle:focus {
  outline: none
}

.order-modal-window-tooltip-toggle:active .order-modal-window-tooltip-icon {
  opacity: 0.3;
}

.order-modal-window-tooltip-text {
  position: absolute;
  display: none;
  width: 200px;
  top: 35px;
  left: -20px;
  padding: 19px 17px 19px 19px;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.order-modal-window-tooltip-text::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 14px;
  top: -6px;
  right: 70px;
  background-image: url("../images/modal-window/modal-triangle.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.order-modal-window-tooltip-toggle:hover + .order-modal-window-tooltip-text,
.order-modal-window-tooltip-toggle:focus + .order-modal-window-tooltip-text {
  display: block;
}
